.bn {
background-color: #f9f9f9;
padding: 21px 33px;
}

.navbar{
background-color: transparent;
background-image: none;}

.bill-hero {
background-image: url('https://wrmorrison.github.io/les/images/hero-bk2.jpg');
background-repeat: no-repeat;
background-size: cover;
height: 150px;
border-top: 1px solid rgb(74, 74, 74);
border-bottom: 1px solid rgb(74, 74, 74);
box-shadow: 0 6px 3px -3px gray;
}

.bill-footer {
background-color: #f9f9f9;
}

.imgbrd {px solid #626262;}

.imgcap {font-size: .85em; margin-bottom:33px!important;}

.billsmall {font-size: .5em;}

span.se {
   font-size: 1.1em;
 }
 
 /* Media query for mobile devices */
 @media (max-width: 767px) {
   span.se {
     font-size: .8em;
   }
 }