body {
background-image: url('/images/bk.png');
background-repeat: repeat-y;
background-position: center;
background-color: #53821d;
color:#333;
}

h1,h2,h3 {
color: #465417 !important;
}

p,li {
font-family: serif;
font-size: 1.1em;
}

.navbar.is-light .navbar-brand>.navbar-item {color:black;}

.navbar {
border-top:6px solid #ccc;
border-bottom:1px solid #ccc;
background-color: transparent;
background-image: none;
box-shadow: 0 6px 3px -3px rgba(0, 0, 0, 0.25);
}

.navbar .navbar-burger {
min-height: 8rem;
}
/* 
.bill-hero {
background-image: url('/images/hero.jpg');
background-repeat: no-repeat;
background-size: cover;
height: 150px;
border-top: 1px solid rgb(112, 112, 112);
border-bottom: 1px solid rgb(112, 112, 112);
box-shadow: 0 6px 3px -3px rgba(0, 0, 0, 0.25);
}*/

.hero-body {padding:0;}

.bill-footer {
border-top: 9px solid #bcbcbc;
background-color: #f9f9f9;
padding:3em 0;
}

.bill-footer p {
text-align: center;
}

.container {
    padding: 2em 1em;
    background-color: white;
  }


.section {
    padding: 0;
}

@media (min-width: 1024px) {
    .container {
      max-width: 900px; /* Adjust this value to your desired width */
    }
  }

.imgbrd {border: 1px solid #626262;}

.imgcap {font-size: .95em; margin-bottom:33px!important;}

.billsmall {font-size: .5em;}

.push {padding-bottom: 210px;}

.push2 {padding-bottom: 333px;}

.ft {
font-size: 1.2em;
border-bottom: 3px solid white;
padding-bottom: 6px;
margin-bottom: 6px;
}

.hpush {padding: 15px 0;}